@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
body {
  background: url('img/noise.png') #2b2b2b;
}
body header {
  top: 0px;
  height: 100vh;
  padding-top: calc((100vh - 470px) / 2);
  padding-bottom: calc((100vh - 470px) / 2);
  width: 100%;
}
body header h1 {
  color: white;
  font-family: 'Shadows Into Light', cursive;
  font-size: 8em;
  margin-top: 0px;
  height: 120px;
  margin-bottom: 30px;
  text-align: center;
}
body header h1 span {
  color: #8cc84b;
}
body header #photo {
  border-right: solid white 1px;
  padding-right: 30px;
}
body header #photo div {
  text-align: right;
  position: relative;
}
body header #photo div img {
  height: 200px;
  display: block;
  float: right !important;
  opacity: 0.8;
}
body header #photo div img.transition {
  transition: all 1s ease-in-out;
}
body header #photo div img:hover {
  opacity: 1;
  box-shadow: 0 0 10px #8cc84b;
}
body header #about {
  height: 200px;
  line-height: 200px;
  padding-left: 30px;
}
body header #about div {
  display: inline-block;
  vertical-align: middle;
  height: 143px;
  color: white;
  font-size: 1.7em;
  line-height: 2em;
  font-family: 'Ubuntu', 'Trebuchet MS', Helvetica, sans-serif;
}
body header #about div span {
  display: block;
}
body header #links {
  margin-top: 20px;
  margin-right: calc(50% - ((60px + 20px*2) * 5)/2);
  padding: 0;
  height: 100px;
  list-style-type: none;
  width: 100px;
  float: right;
}
body header #links li.socialnetworks {
  display: none;
}
body header #socialnetworks {
  margin: 20px 0px 0px 0px;
  padding: 0;
  height: 100px;
  list-style-type: none;
  width: 400px;
  float: right;
}
body header #socialnetworks li.back {
  display: none;
}
body header li {
  height: 60px;
  width: 60px;
  margin: 20px;
  display: inline-block;
  float: left;
}
body header li a {
  line-height: 60px;
  display: block;
  color: white;
  text-decoration: none;
  opacity: 0.5;
  height: 100%;
  background: url('img/links.png') no-repeat;
}
body header li a.transition {
  transition: all 0.4s ease-in-out;
}
body header li a:hover {
  opacity: 1;
}
body header li.github a {
  background-position: 0px 0px;
}
body header li.linkedin a {
  background-position: -60px 0px;
}
body header li.viadeo a {
  background-position: -120px 0px;
}
body header li.dyb a {
  background-position: -180px 0px;
}
body header li.pdf a {
  background-position: -240px 0px;
}
body header li.socialnetworks a {
  background-position: -300px 0px;
}
body nav a {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  display: block;
  width: 100px;
  text-align: center;
  height: 50px;
  font-size: 0px;
  color: transparent;
  border: solid white 2px;
}
body nav a.next {
  bottom: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom: none;
}
body nav a.back {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top: none;
}
body nav a#resume.fixed {
  position: fixed;
  top: 0px;
}
body #timeline {
  width: 100%;
  height: calc(100vh - 50px);
  position: absolute;
  top: calc(100vh + 50px);
  z-index: -1;
}
body #timeline.fixed {
  position: fixed;
  top: 50px;
}
@media only screen and (min-width: 768px) and (max-height: 500px) {
  body {
    background: url('img/noise.png') #2b2b2b;
  }
  body header {
    top: 0px;
    height: 100vh;
    padding-top: calc((100vh - 320px) / 2);
    padding-bottom: calc((100vh - 320px) / 2);
  }
  body header #photo {
    display: none;
  }
  body header #about {
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 100%;
  }
  body header #about div span {
    display: inline;
  }
  body header #about div span:not(:last-child):after {
    content: " - ";
  }
}
@media only screen and (max-width: 767px) {
  body header {
    top: 0px;
    height: 100vh;
    padding-top: calc((100vh - 650px) / 2);
    padding-bottom: calc((100vh - 650px) / 2);
  }
  body header h1 {
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    font-size: 6em;
  }
  body header #photo {
    border: none;
    padding-right: 15px;
  }
  body header #photo div img {
    margin: auto;
    float: none !important;
  }
  body header #about {
    text-align: center;
    padding-left: 15px;
  }
}
@media only screen and (max-width: 767px) and (max-height: 700px) {
  body header {
    top: 0px;
    height: 100vh;
    padding-top: calc((100vh - 450px) / 2);
    padding-bottom: calc((100vh - 450px) / 2);
  }
}
@media only screen and (max-width: 767px) and (min-width: 500px) and (max-height: 550px) {
  body header {
    top: 0px;
    height: 100vh;
    padding-top: calc((100vh - 300px) / 2);
    padding-bottom: calc((100vh - 300px) / 2);
  }
}
@media only screen and (max-width: 767px) and (max-height: 700px) {
  body header #photo {
    display: none;
  }
}
@media only screen and (max-width: 767px) and (min-width: 500px) and (max-height: 550px) {
  body header #about {
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 100%;
  }
  body header #about div span {
    display: inline;
  }
  body header #about div span:not(:last-child):after {
    content: " - ";
  }
}
@media only screen and (max-width: 500px) {
  body header {
    top: 0px;
    height: 100vh;
    padding-top: calc((100vh - 700px) / 2);
    padding-bottom: calc((100vh - 700px) / 2);
    overflow: hidden;
  }
  body header h1 {
    height: 200px;
    margin-bottom: 0px;
  }
  body header #links {
    width: 200px;
    margin-top: 0px;
    margin-right: calc(50% - ((60px + 20px*2) * 2)/2);
  }
  body header #links li {
    margin: 10px 20px 20px 20px;
  }
  body header #links li.socialnetworks {
    display: block;
  }
  body header #socialnetworks {
    float: none;
    width: 100%;
    display: block;
    position: fixed;
    left: 100%;
    top: 0px;
    height: 100vh;
    padding-top: calc((100vh - 700px) / 2);
    padding-bottom: calc((100vh - 700px) / 2);
    margin-top: 0px;
    background: url('img/noise.png') #2b2b2b;
    transition: all 0.5s ease-in-out;
    z-index: 100;
  }
  body header #socialnetworks:target {
    left: 0%;
  }
  body header #socialnetworks li {
    margin: 0px;
    width: 100%;
    display: block;
    float: none;
    height: 20%;
  }
  body header #socialnetworks li a {
    background: none;
    color: white;
    font-size: 2.5em;
    line-height: normal;
    font-family: 'Ubuntu', 'Trebuchet MS', Helvetica, sans-serif;
    padding: 25px 25px 25px 25px;
    text-align: center;
  }
  body header #socialnetworks li a:before {
    display: block;
    float: left;
    width: 60px;
    height: 60px;
    content: ' ';
    background: url('img/links.png') no-repeat;
    margin-top: -10px;
  }
  body header #socialnetworks li a:hover {
    text-decoration: none;
  }
  body header #socialnetworks li.github a:before {
    background-position: 0px 0px;
  }
  body header #socialnetworks li.linkedin a:before {
    background-position: -60px 0px;
  }
  body header #socialnetworks li.viadeo a:before {
    background-position: -120px 0px;
  }
  body header #socialnetworks li.dyb a:before {
    background-position: -180px 0px;
  }
  body header #socialnetworks li.back {
    display: block;
    font-size: 0px;
  }
  body header #socialnetworks li.back a:before {
    background: none;
    content: "\00ab";
    font-size: 60px;
    margin-left: calc(50% - 30px);
    line-height: 45px;
    border: 2px white solid;
    border-radius: 30px;
  }
}
@media only screen and (max-width: 500px) and (max-height: 750px) {
  body header {
    top: 0px;
    height: 100vh;
    padding-top: calc((100vh - 500px) / 2);
    padding-bottom: calc((100vh - 500px) / 2);
  }
}
@media only screen and (max-width: 500px) and (max-height: 580px) {
  body header {
    top: 0px;
    height: 100vh;
    padding-top: calc((100vh - 450px) / 2);
    padding-bottom: calc((100vh - 450px) / 2);
  }
}
@media only screen and (max-width: 500px) and (min-width: 400px) {
  body header h1 {
    padding: 0px 5% 0px 5%;
  }
}
@media only screen and (max-width: 500px) and (max-height: 750px) {
  body header #photo {
    display: none;
  }
}
@media only screen and (max-width: 500px) and (max-height: 580px) {
  body header #about {
    font-size: 0.8em;
    height: 150px;
    line-height: 180px;
  }
}
@media only screen and (max-width: 500px) and (max-height: 750px) {
  body header #socialnetworks {
    top: 0px;
    height: 100vh;
    padding-top: calc((100vh - 500px) / 2);
    padding-bottom: calc((100vh - 500px) / 2);
  }
}
@media only screen and (max-width: 500px) and (max-height: 580px) {
  body header #socialnetworks {
    top: 0px;
    height: 100vh;
    padding-top: calc((100vh - 450px) / 2);
    padding-bottom: calc((100vh - 450px) / 2);
  }
}
